@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #010b24;

  margin: auto 50%;
  margin-top: 400px;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
