@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #010411;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


button {
  padding: 5px;
  border: #e5e5e5 solid 1px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover  {
  background: #ffffff;
  color: #041f42;
  font-style: italic;
  transform: scale(1.1);
  transition: 0.3s;
}